/*@import url('https://fonts.googleapis.com/css?family=Montserrat:bold');
@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/
.body{
    /*font-family: 'Aleo', sans-serif;*/
    display: block;
}
.tooltitle{
    /*font-family: 'Montserrat',sans-serif;*/
}
.terms{
    padding-top: 2.5vh;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-bottom: 2.5vh;
}
.searching{
    padding-top: 2.5%;
    text-align: center;
}

.instr{
    text-align: center;
}

.instr-group{
    padding-top: 5vh;
    vertical-align: middle;
    padding-bottom: 1%;
}

.flashes{
    padding-top: 5vh;
    text-align: center;
}
.serviontext{
    color: #298FC2 !important;
}
.h1{
    color: #298FC2 !important;
}

.subfield{
    width:70%;
}
.btn,
.btn-primary{
    color: #FFFFFF;
    background-color: #F2A900 !important;
    border-color: #F2A900 !important;
}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:hover {
    color: #FFFFFF;
    background-color: #D38F00 !important;
    border-color: #D38F00 !important;
}
