.body{
    display: block;
}
.terms{
    padding-top: 2.5vh;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-bottom: 2.5vh;
}
.searching{
    padding-top: 2.5%;
    text-align: center;
}

.instr{
    text-align: center;
}

.instr-group{
    padding-top: 5vh;
    vertical-align: middle;
    padding-bottom: 1%;
}

.flashes{
    padding-top: 5vh;
    text-align: center;
}

.subfield{
    width:70%;
}
