    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124615265-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-124615265-1');
        </script>
        <title>Servion $2K19 Eligibility Look Up Tool</title>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="container">
        <div class="row">
            <div class="col" align="center">
                <div class="alert alert-primary">
                    <h1>{{ message }}</h1>
                </div>
            </div>
        </div>
  </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
        <link rel="icon" type="image/png" href="static/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col" align="center">
                    <img class="logo" src="static/img/servionmortgagemed_resized.png">
                </div>
            </div>
        </div>
        <div class="container instr-group">
            <div class="row">
                <div class="col instr serviontext" align="center">
                    <h1 class="tooltile">$2K19 Eligibility Look Up Tool</h1>
                </div>
            </div>
			<div class="row">
				<div class="col" align="center">
					<h5 class="alert alert-primary">Special Offer has been extended through 2020!</h5>
				</div>
			</div>
		</div>
		<div class="container">
		</div>
        <div class="container">
			<div class="row">
	            <div class="col" align="center">
	                <ul class="list-group terms">
	                  <li class="list-group-item serviontext">Available on Conventional loans</li>
	                  <li class="list-group-item serviontext">Must be DU Approved/Eligible</li>
	                  <li class="list-group-item serviontext">Owner Occupied Only</li>
	                  <li class="list-group-item serviontext">Available for Purchase or Rate/Term Refinances</li>
	                </ul>
	            </div>
			</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col instr" align="center">
                        <h2>Enter an address to look up:</h2>
                </div>
            </div>
        </div>
        <form class="searching" action="." method="POST">
            <fieldset>
                <input type="text" name="text" placeholder="Please enter street address, city, state, zipcode" class="subfield">
                <input type="submit" name="my-form" value="Search" class="btn btn-primary subfield searchbar">
            </fieldset>
        </form>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="static/js/bootstrap/bootstrap.min.js"></script>
    </body>
    </html>
